/* 
    Document   : style
    Created on : 21 Nov, 2013, 2:41:54 PM
    Author     : Aravind
    Description:
        Style Sheet for Flicker Phto Viewer
*/

#searchBox{
    text-align: center;
    margin-bottom: 50px;
}

#searchImgText{
    width: 400px;
}

#error_msg{
    color: red;
    text-align: center;
}

#heading{
    text-align: center;
}

#navigate{
    text-align: center;
}

#imgList{
    text-align: center;
    margin: 15px;
    margin-bottom: 50px;
}

.navigate_link{
    text-decoration: none;
    margin: 10px;
    color: blue;
}

.resultImg{
    margin: 8px 8px 8px 8px;
    box-shadow: 4px 4px 4px #888888;
}